body {
    background-color: #000000;
    font-family: "Lucida Console", monaco, monospace;
    overflow: hidden;
}

.name {
    font-size: 3.5em;
    font-weight: bold;
}

#tagline {
    font-style: italic;
}

.main-body {
    color: #fff000;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:70em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -35em; /*set to a negative number 1/2 of your width*/
}

.inline-btns {
    width: 60em;
    display: inline-block;
    padding: 2em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.btn {
    height: 5em;
    width: 5em;
    padding: 1.75em;
}

.btn-image {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    -webkit-filter: invert(100%);
    padding: 0;
    border: 3px solid #000000;
    padding: 0.25em;
}

.btn-image:hover {
    animation-name: hoverBoi;
    animation-duration: 0.3s;

    height: 6.5em;
    width: 6.5em;
}

@keyframes hoverBoi {
    from {
    height: 5em;
    width: 5em;
    }

    to {
    height: 6.5em;
    width: 6.5em;
    }

}

.LinkedIn {
    height: 4em;
    width: 4em;
    padding: 0.75em;
    border-radius: 50%;
}

#particles-js {
    height: 100vh;
}
