body {
    background-color: #000000;
    font-family: "Lucida Console", monaco, monospace;
}

.name {
    font-size: 3.5em;

}

.main-body {
    color: #fff000;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

#particles-js {
    height: 100%;
}
