body {
    background-color: #000000;
    font-family: "Lucida Console", monaco, monospace;
}

.name {
    font-size: 3.5em;
    font-weight: bold;
}

#tagline {
    font-style: italic;
}

.main-body {
    color: #fff000;
    text-align: center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.inline-btns {

}

.btn {
    height: 5em;
    width: 5em;
    border: 5px;
}

.btn-image {
    border-radius: 50%;
    height: 5em;
    width: 5em;
    -webkit-filter: invert(100%);
    padding: 2em;
}

#particles-js {
    height: 100%;
}
