.App {
  height: "100%";
  background: "#222";
  display: "flex";
}

#profile-pic {
  border-radius: 50%;
  border: 10px solid white;
  height: 350px;
  width: 350px;
  opacity: 100%;
}

.main-body {
  position: absolute;
  text-align: start;
  width: 100%;
}

body {
  font-family: "Lucida Console", monaco, monospace;
  overflow: hidden;
}

.card {
  border-radius: 0%;
  color: rgba(255, 255, 255, 0.5);
}

.name {
  font-size: 3.5em;
  font-weight: bold;
  display: block;
}

#tagline {
  font-style: italic;
}

.main-body {
  text-align: center;
  position: fixed;
  top: 45%;
  left: 50%;
  width: 70em;
  height: 18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -35em; /*set to a negative number 1/2 of your width*/
}

.inline-btns {
  display: inline-block;
  padding: 2em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.btn {
  height: 5em;
  width: 5em;
  padding: 1.75em;
}

.btn-image {
  border-radius: 50%;
  height: 5em;
  width: 5em;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
  padding: 0;
  border: 3px solid #000000;
  padding: 0.25em;
  animation-name: deHoverBoi;
  animation-duration: 0.3s;
}

#particles-js {
  height: 100vh;
}
