.App {
  height: 100%;
  background: #222;
  margin-top: 5%;
  width: clamp(10em, 80%, 70em);
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

#profile-pic {
  border-radius: 50%;
  max-width: 100%;
  border: 0.5em solid white;
}

body {
  color: white;
}

.frosted-glass-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: clamp(1em, 8vw, 3.5em);
  font-weight: bold;
  display: block;
  color: white;
}

#tagline {
  font-style: italic;
  color: white;
}

#intro-card {
  text-align: start;
  width: 100%;
}

.main-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

@media (max-width: 900px) {
  .main-body {
    margin-left: clamp(1.25em, 10%, 8.75em);
    margin-right: clamp(1.25em, 10%, 8.75em);
  }
}

.title-card {
  display: grid;
  grid-template-columns: 23% 73%;
  grid-template-rows: 100%;
  gap: 4%;
  align-items: center;
}

.inline-btns {
  display: flex;
  color: white;
  width: 100%;
  padding-top: 2%;
  gap: 2%;
}

.btn {
  flex: 1;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 900px) {
  .main-body {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -30%;
    margin-left: -50%;
    padding: 2.5%;
    width: 95%;
    height: 100%;
  }

  #intro-card {
    width: 100%;
  }

  #profile-pic {
    width: 60%;
    margin-bottom: 5%;
  }

  .title-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    align-items: center;
    width: 100%;
    gap: 200%;
  }
  .inline-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
  }

  .btn {
    padding-top: 1%;
    width: 100%;
    cursor: pointer;
    /* text-decoration: underline; */
  }
}

#particles-js {
  height: 100vh;
}
